.list-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-user-items {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.list-user-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style: none;
    margin-bottom: 5px;
    min-height: 30px;
    padding: 10px;
    border: 1px solid gray;
    color: #333;
    cursor: pointer;
}
.list-user-item:hover {
    color: #fff;
    background-color: #0d6efd;
}
.list-user-items li {
    list-style: none;
}