.app-row-wrap {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  justify-content: center;
}
.app-list-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 40%;
  max-width: 40%;
}
.app-details-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 50%;
  max-width: 60%;
}